<!DOCTYPE html>
<html>
  <head>
    <title>Calculator App</title>
    <script src="https://code.angularjs.org/1.3.9/angular.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />
    <script>
        var app = angular.module('calculatorApp', []).controller('MainCtrl', ['$scope', '$http', function ($scope, $http) {
            $http.get('/calcs').success(function (data) {
               $scope.calcs = data;
            });

            $http.get('/leadinguser').success(function (data) {
                $scope.leader = data;
            });

            $http.get('/usersTable').success(function (data) {
                $scope.users = data;
            });

            $scope.checkResults = function () {
                $http.post('/calcs/' + $scope.userName, $scope.calcs).success(function (data) {

                    $http.get('usersTable').success(function (data) {
                        $scope.users = data;
                    });

                });
            }
        }]);
    </script>
  </head>
  <body ng-app="calculatorApp" ng-controller="MainCtrl">
    <div>
        Leader: {{leader}}
    </div>
    <div>
        user: <input type="text" ng-model="userName">
    </div>
    <div ng-repeat="calc in calcs">
        {{calc.first}} {{calc.operator}} {{calc.second}} = <input type="number" ng-model="calc.result">
    </div>
    <input type="button" value="check results" ng-click="checkResults()">
    <div ng-repeat="user in users track by $index">
        {{user.userName}} {{user.grade}}
    </div>
  </body>
</html>